* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

html::-webkit-scrollbar {
    width: 6px;
    background: #b9b3ae;
}

html::-webkit-scrollbar-track {
    background: none;
}

html::-webkit-scrollbar-thumb {
    background: #b4aeb9;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}


/*dp*/
.avatar {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img,
.chat-avatar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}

.chat-header-right img {
    height: 25px;
    width: 25px;
    margin: 5px 13px;
    cursor: pointer;
}

body {
    display: flex;
    overflow: hidden;
}

.sidebar {
    flex: 5.7;
}

.header {
    display: flex;
    background-color: #ededed;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar-search {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 8px 15px;
}

.sidebar-search-container {
    display: flex;
    align-items: center;
    background-color: #f0f5f4;
    width: 100%;
    height: 35px;
    border-radius: 8px;
}

.sidebar-search-container img {
    height: 15px;
    width: 15px;
    margin: 0 15px;
}

.sidebar-search-container input {
    border: none;
    outline: none;
    margin-left: 20px;
    background-color: #f0f2f5;
}

.chat-avatar {
    position: relative;
    height: 50px;
    min-width: 50px;
    overflow: hidden;
    border-radius: 50%;
    flex: 1;
}

.sidebar-chats {
    height: calc(100vh - 115px);
    overflow-y: scroll;
}

.sidebar-chat {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 12px;
    width: 100%;
    cursor: pointer;
    background-color: white;
}

.sidebar-chat:hover {
    background-color: #f5f5f5;
}

.sidebar-chat:nth-child(2) {
    background-color: #ebebeb;
}

.sidebar-chat::before {
    content: '';
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 80px;
    border-bottom: 1px solid rgb(7, 7, 7);
    opacity: 0.2;
}

.chat-info {
    margin-left: 15px;
    flex: 10;
}

.chat-info p {
    font-size: 13px;
    line-height: 20px;
    color: gray;
}

.time {
    flex: 1;
}

.time p {
    white-space: nowrap;
    font-size: 13px;
    margin-top: -16px;
    color: gray;
}


@media screen and (max-width: 767px) {
    .header {
        padding: 20px 20px;
    }

    .sidebar-search {
        padding: 10px 15px;
    }

    .sidebar-search-container {
        height: 40px;
    }

    .chat-avatar {
        height: 60px;
    }
}


@media screen and (max-width: 480px) {
    .header {
        padding: 8px 15px;
        position: relative;
        height: 50px;
    }

    .avatar {
        display: none;
    }

    .chat-header-right {
        position: absolute;
        right: 5px;
    }

    .chat-header-right img {
        height: 20px;
        width: 25px;
        margin: 5px 10px;
        cursor: pointer;
    }

    .sidebar-search {
        padding: 5px 10px;
    }

    .sidebar-search-container {
        height: 30px;
    }

    .sidebar-chat::before {
        width: 73%;
    }

    .chat-avatar {
        height: 50px;
    }

    .chat-info p {
        display: none;
    }
}






/* message content */
.message-container {
    flex: 12;
    text-size-adjust: 30px;
}

@media screen and (max-width: 767px) {
    .message-container {
        display: none;
    }
}

.chat-title {
    display: flex;
    
}

.message-header-content {
    margin-left: 15px;
}

h4 {
    font-weight: 500;
}

.message-header-content p {
    font-size: 13px;
    color: gray;
}

.message-content {
    background-image: url('default-bg.jpg');
    background-position: center;
    height: calc(100vh - 115px);
    padding: 20px 80px;
    overflow-y: scroll;
}

.chat-message {
    font-size: 14px;
    padding: 8px 10px;
    width: fit-content;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 30px;
}

.chat-sent {
    margin-left: auto;
    background-color: #aaeb79c8;
}

.chat-timestamp {
    margin-left: 10px;
    font-size: 10px;
    color: grey;
}

.message-footer {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #f0f0f0;
}

.message-footer img {
    width: 28px;
    height: 28px;
    opacity: 0.4;
    flex: 1;
    cursor: pointer;
}

.message-footer input {
    flex: 20;
    margin: 5px 10px;
    padding: 12px 15px;
    outline: 0;
    margin: 0;
    border-radius: 8px;
    font-size: 15px;
    border:#b4aeb9
}